.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
}

table {
    border-collapse: collapse;
    width: 50%;
}

th {
    height: 30px;
}

tr {
    font-size: 30px
}
